*.git
#*.vscode
#*.idea
#*.code-workspace
/DENESOR.code-workspace

/envSettingFiles

.env
.env.dev
.env.withoutDB

/settings/.env
/settings/.env.dev
/node_modules
/test/envSettingFiles\.env/envSettingFiles\.env

package-lock.json/envSettingFiles\.env.withoutDB/envSettingFiles\.env/envSettingFiles\.env.withoutDB

api.log